@font-face {
  font-family: Malige;
  src: url('Malige-n.TTF') ;
}
body{
    background-image: url('../images/images.jpeg');
    background-repeat: repeat;
}
.para{
    margin: 1em;
    text-align: justify;
    padding: 1em 1em 0em 1em;
    color: #3D1400;
}
.page{
	width: 900px;
	margin: 0 auto;
    padding-bottom: 0.5em;
    background-image: url('../images/texture.jpeg');
    background-repeat: repeat;
    border-radius: 20px;    
	--moz-box-shadow: 0px 0px 30px #EBC19D;
    -webkit-box-shadow: 0px 0px 20px #EBC19D;
    box-shadow: 0px 0px 20px #000;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}
.header{
    padding-top: 1.2em;
}
.heading{
    text-align: center;
    margin: auto;
    letter-spacing: 2px;
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-size: 2.2em;
    text-shadow: 1px 1px #100000;
    color: #731F11;
}
.nav{
	list-style: none;
	text-align: right;
	letter-spacing: 1px;
}
.nav li{
	display: inline;
    color: #731F11;    
}
.nav li a {
    color: #731F11;
	font-size: 1em;
	text-decoration: none;
	padding: 0em 1em 0em 0.5em;
}
.nav li a.active, .nav li a:HOVER{
    text-decoration: underline;
}
.main_title{
    font-family: Malige;
    text-align: center;
    padding-top: 0em;
    letter-spacing: 1px;
    font-size: 2.5em;
    color: #efcca2;
    width: 95%;
    margin-top: 0.5em;
    margin-left: 0.5em;
    border: 1px solid #000;
    background-color: #511F06;
    -moz-box-shadow: 0px 0px 30px #EBC19D;
    -webkit-box-shadow: 0px 0px 20px #EBC19D;
    text-shadow: 2px 2px 2px #4F4C48;
    border-radius: 20px;
}
.mainbody{
    min-height: 39em;
}
.container {
	text-align: left;
    height: 34em;
    overflow: auto;
    padding: 0em 0em 0em 1em;
}

.image{
    margin: 2em 0em 0em 19.2em;
    border: 3px solid #000;
}
.text{
    padding: 0em 9em 1em 9em;
    text-align: center;
    font-size: 0.85em;
    color: #100B32;
}
.textbf{
    font-weight: bold;
}
.article{
    padding: 0em 2em 1em 2em;
    font-size: 1em;
    text-align: center;
    color: #411F02;
    line-height: 200%;
}
.anuvada_head{
    font-size: 1.5em;
    text-align: center;
    padding-top: 1em;
}
.anuvada li .purana_name a{
    color: #800000;
    font-size: 0.9em;
}
.anuvada li .author_name {
    color: #5C2E00;
}
.purana_name a{
    text-decoration: none;
    color: #800000;
}
.purana_name a:hover{
    text-decoration: underline;
}
.anuvada li{
    line-height: 150%;
    list-style-type: disc;
    font-size: 1.1em; 
    padding: 1.5em 0em 0.5em 0em;
    color: #5C2E00;
    
}
.anuvada li a{
    color: #4A2500;
    text-decoration: none;
}
.anuvada li a:hover{
    text-decoration: underline;
}
.anuvada{
    margin: 1em 0em 2em 3.5em;
}
.auth_name a{
    color: #9C0F10;
}
#purana{
    color: #731F11;
    padding-top: 0.5em;
    text-align: center;
    font-size: 2em;
    letter-spacing: 3px;
}
#main_heading{
    color: #731F11;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 1px;
}
.author{
    color: #9C0F10;
    text-align: right;
    font-size: 1em;
    padding-right: 2em;
    padding-top: 1em;
}
p{
    padding: 0em 1em 0em 1em;
}
#footer {
	width: 100%;
	height: 30px;
	font-size: 0.7em;
	background-color: #2D0A01;
}

#footer .copyright {
	float: right;
    color: #F4F2F0;
    padding-top: 1em;
}
.copyright a{
	text-decoration: none;
    color: #F4F2F0;
}
.copyright a:hover{
	text-decoration: underline;
}
#footer .terms{
	float: left;
    color: #F4F2F0;
    padding-top: 1em;    
}
.terms a{
    color: #F4F2F0;
	text-decoration: none;
}
.terms a:hover{
	text-decoration: underline;
}
.toc{
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 0.5em;
    color: #731F11;
    letter-spacing: 1px;
}
.book_title {
    color: #731F11;
    list-style: decimal;
    margin-left: 5em;
    padding: 0em 2em 1em 0em;
    line-height: 200%;
}
.book_title a{
    text-decoration: none;
    color: #731F11;
    font-size: 1.1em;
}
.book_title a:hover{
    text-decoration: underline;
}
.book{
    padding-top: 1em;
    padding-bottom: 0.2em;
    text-align: center;
    font-size: 1.5em;
    color: #731F11;
}
.dnone{
	display: none;
}
.treeview{
    margin-left: 1.5em;
}
.treeview ul li { 
	list-style-type: none; 
	list-style-position:outside;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	text-align: justify;
	margin-right: 2em;
	text-indent: -18px;
    margin-left: 2em;
}
.btitle{
    margin-left: 2em;
}
.treeview ul li img{ 
	vertical-align: middle;
}

.treeview ul li a{
	text-decoration: none;
}

.s1{
	letter-spacing: 1px;
}
.s1 a{
	color: #532900;
	font-size: 1em;
}
.s1 a:hover{
	text-decoration: underline;
}
.s2 {
	letter-spacing: 1px;
} 
.s2 a{
	color: #532900;
	font-size: 1em;
}
.s2 a:hover{
	text-decoration: underline;
}
.archive_title{
	font-weight: bold;
	text-align: center;
	letter-spacing: 1px;
    padding-top: 2em;
    padding-bottom: 2em;
}
.archive_holder{
	margin: 1em 7em 0em 7em;
    border: 2px solid #731F11;
    border-radius: 20px;
}
.intro_para{
    padding-bottom: 2em;
}
.starting_page{
    font-size: 1.1em;
    padding: 2em 0em 0em 1em;
}
.starting_page a{
    color: #800000;
}
.starting_page a:hover{
    text-decoration: none;
}
.toc_title{
    font-size: 1.15em;
    padding: 0.5em 0em 1em 1em;
    color: #800000;
}
select{
	background: none;
	border: 1px solid #B8860B;
	font-size: 0.9em;
	margin: 0em 0em 1em 0.50em;
}

.keys{
	width: 38px;
	height: 27px;
	float: left;
	border-right: 1px solid #B8860B;
	border-bottom: 1px solid #B8860B;
	padding: 0px;
	text-align: center;
	cursor:pointer;
}
.tline {
	border-top: 1px solid #B8860B;
}
.lline {
	border-left: 1px solid #B8860B;
}
.submit{
    padding-bottom: 14em;
    padding-top: 1em;
}
#button2{
    margin-left: 2em;
}
#button{
    margin-left: 1em;
}
.keys:HOVER{
	background-color: #2D0A01;
    color: #fff;
}
#kbd{
	width: 290px;
	float: right;
}
.tocspan {
    color: #663300;
    text-align: justify;
    margin : 1em;
    padding-right: 1em;
}
.tocspan a{
    text-decoration: none;
    color: #663300;
}
.tocspan a:hover{
    text-decoration: underline;
}
.booktitle{
    list-style-type: none;
    color: #8A2E00;
    font-size: 1.2em;
    padding: 1em 1em 0em 0em;;
}
.search-result{
    font-size: 1.4em;
    margin-left: 2em;
    padding-top: 2em;
    padding-bottom: 1em;
    letter-spacing: 1px;
    color: #800000;
}

.book_list{
    margin-left: 1em;
}
.title_list{
    padding-right: 1.5em;
}
.title_list a{
    text-decoration: none;
    color: #532900;
}
.title_list a:hover{
    text-decoration: underline;
}
.title_list {
    text-align: justify;
    margin: 1em;
    list-style-type: disc;
    color: #532900;
}
.note{
    text-align: justify;
    padding: 0em 1em 3em 1em;
    color: #800000;
}
.titlespan{
    margin-left: 1em;
}
.stitle{
    margin-left: 0.5em;
}
.goback{
    color: #5C2E00;
    font-size: 1.1em;
    margin-left: 4em;
    margin-top: 1em;
}
.goback a{
    color: #5C2E00;
}
